{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "react-app",
    "react-app/jest",
    "eslint-config-prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "eslint-plugin-prettier"],
  "ignorePatterns": ["src/dist/*"],
  "rules": {
    "prettier/prettier": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", "jsx"] }],
    "import/resolver": [
      1,
      {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx", ".cjs"]
        }
      }
    ]
  }
}
